.secondary-1 {
  color: #e9ebf8;
}

.bg-secondary-1 {
  background: #e9ebf8;
}

.secondary-2 {
  color: #adadbc;
}

.bg-secondary-2 {
  background: #adadbc;
}

.secondary-3 {
  color: #8a8aa0;
}

.bg-secondary-3 {
  background: #8a8aa0;
}

.secondary-4 {
  color: #585877;
}

.bg-secondary-4 {
  background: #585877;
}

.secondary-4 {
  color: #36365b;
}

.bg-secondary-4 {
  background: #36365b;
}

.secondary-5 {
  color: #262640;
}

.bg-secondary-5 {
  background: #262640;
}

.secondary-5 {
  color: #212138;
}

.bg-secondary-5 {
  background: #212138;
}

.natural-1 {
  color: #FBFBFB;
}

.bg-natural-1 {
  background: #FBFBFB;
}

.natural-2 {
  color: #F6F6F7
}

.bg-natural-2 {
  background: #F6F6F7
}

.natural-4 {
  color: #E2E2E5
}

.bg-natural-4 {
  background: #E2E2E5
}

.natural-6 {
  color: #49495C
}

.bg-natural-6 {
  background: #49495C
}

.bg-natural-transparent-50 {
  background: rgba(251, 251, 251, 0.5);
}

.blue-5 {
  background: #ADD8EE;
}
